.ShareTool {
  font-size: 1rem;
  color: var(--secondary-bg-color);
  background-color: red;
  position: absolute;
  right: var(--primary-horizontal-gutter);
  bottom: var(--primary-vertical-gutter);
  z-index: 98;
}
