.ResultList {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: var(--secondary-vertical-gutter);
  margin-bottom: var(--secondary-vertical-gutter);
}

.ResultList--list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - (2 * var(--pagination-button-width)));
  margin: 0 0 0 var(--secondary-horizontal-gutter);
  padding: 0;
}
.ResultList--no-results {
  color: var(--secondary-color);
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
