.ResultList {
  display: flex;
  justify-content: space-between;
}

.ResultList--list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - (2 * var(--secondary-horizontal-gutter) + (2 * var(--pagination-button-width))));
  margin: 0 0 var(--secondary-vertical-gutter) var(--secondary-horizontal-gutter);
  padding: 0;
}
.ResultList--no-results {
  color: var(--secondary-color);
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ResultList--paginator {
  display: block;
  flex-basis: 4em;
  align-self: stretch;
  border-top: var(--secondary-vertical-gutter) solid var(--primary-bg-color);
  border-bottom: var(--secondary-vertical-gutter) solid var(--primary-bg-color);
  background: orange;
}