.ResultList {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--secondary-vertical-gutter) 0;
}

.ResultList--list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - (2 * var(--pagination-button-width)));
  height: 100%;
  margin: 0 0 0 var(--secondary-horizontal-gutter);
  padding: 0;
}
.ResultList--no-results {
  color: var(--light-default);
  background-color: var(--primary-bg-color-inverse);
  display: flex;
  height: 100%;
  width: calc(100% - var(--secondary-horizontal-gutter));
  align-items: center;
  justify-content: center;
}
