.App-header {
  font-size: .9rem;
  padding-top: 0.6em;
}

.App-header__title {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
.App-header__intro {
  font-size: 1em;
  margin: 0;
}