.App-header {
  font-size: .9rem;
  padding: 0.9em 2em 0 2em;
  background-color: var(--secondary-bg-color);
}

.App-header__title {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
}
.App-header__intro {
  font-size: 1em;
  margin: 0;
}