.Search__label{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.Search__input {
  font-size: 3rem;
  color: var(--primary-color-inverse);
  background-color: var(--primary-bg-color-inverse);
  padding: 0 var(--primary-horizontal-gutter);
  border: none;
  border-radius: 0;
  outline: none;
  overflow: auto;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.Search__input::-ms-clear {
  display: none;
}
