.App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr var(--result-list-row-height) var(--header-row-height);
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
}
.App--header {
  grid-row: 3;
  grid-column: 1 / 2;
}
.SearchInput {
  grid-row: 3;
  grid-column: 2 / 3;
}
.ResultList {
  grid-row: 2;
  grid-column: 1 / 3;
}
.Player {
  grid-row: 1;
  grid-column: 1 / 3;
}
.Spinner {
  grid-row: 1;
  grid-column: 1 / 3;
  z-index: 1;
}

.App--header {
  color: var(--primary-color-inverse);
  background-color: var(--primary-bg-color-inverse);
}

.App--title {
  font-size: 1.5em;
}
