* {
  box-sizing: border-box;
}

html {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-size: var(--base-font-size);
}

@media screen and (max-width: 812px), (max-height: 812px) {
  html {
    font-size: var(--base-font-size-flex);
  }
}
@media screen and (max-width: 480px), (max-height: 480px) {
  html {
    font-size: var(--base-font-size-min);
  }
}
