:root {
  --primary-color: #fff;
  --primary-bg-color: #121212;
  --primary-color-inverse: #121212;
  --primary-bg-color-inverse: #fff;

  --secondary-color: #999;
  --secondary-bg-color: #3b3b3b;
  --secondary-color-inverse: #3b3b3b;
  --secondary-bg-color-inverse: #999;

  --highlight-color: #fff;
  --highlight-bg-color: #ffa500;
  --highlight-color-hover: #fff;
  --highlight-bg-color-hover: #ffdd00;

  --control-color: #fff;
  --control-bg-color: #ffa500;
  --control-color-hover: #ffc;
  --control-bg-color-hover: #ffb450;
  --control-disabled-color: #999;
  --control-disabled-bg-color: #ccc;

  /* spacing */
  --primary-vertical-gutter: 1rem;
  --primary-horizontal-gutter: 0.5rem;

  --secondary-vertical-gutter: 0.3rem;
  --secondary-horizontal-gutter: 0.4rem;

  /* structural */
  --result-list-height: 9em;
  --header-height: 5em;
  --pagination-button-width: 2em;
}
