.Paginator {
  width: var(--pagination-button-width);
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--control-color);
  background-color: var(--control-bg-color);
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.Paginator:hover {
  color: var(--control-color-hover);
  background-color: var(--control-bg-color-hover);
}
.Paginator__disabled,
.Paginator__disabled:hover {
  color: var(--control-disabled-color);
  background-color: var(--control-disabled-bg-color);
  cursor: default;
}
.Paginator:focus {
  outline: none;
}
.Paginator__label {
  writing-mode: vertical-rl;
}
.Paginator__label-fwd {
  transform: rotate(180deg);
}

/* fix positioning on ios */
@supports (-webkit-overflow-scrolling: touch) {
  .Paginator__label {
    margin-left: -1.45em;
  }
  .Paginator__label-fwd {
    margin-left: .2em;
  }
}
