.Result-list__item {
  list-style: none;
  width: calc(100% / 6);
  height: 100%;
  padding: 0 var(--secondary-horizontal-gutter) 0 0;
  background-color: var(--primary-bg-color);
}
@media screen and (orientation: portrait) {
  .Result-list__item {
    width: calc(100% / 3);
    max-height: calc(50% - (var(--secondary-vertical-gutter) / 2));
  }
  .Result-list__item:nth-child(-n + 3) {
    margin-bottom: var(--secondary-vertical-gutter);
  }
}
.Result-list__item__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--secondary-vertical-gutter) var(--secondary-horizontal-gutter);
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  cursor: pointer;
  text-decoration: none;
}
.Result-list__item__img {
  flex: 1;
  min-height: 0;
  object-fit: contain;
  background: var(--primary-bg-color) var(--spinner-b64-url) no-repeat center;
  background-size: 1rem;
}
.Result-list__item__title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.83em;
  line-height: initial;
  margin: var(--secondary-vertical-gutter) 0 0;
}
.Result-list__item__link--selected-item {
  color: var(--highlight-color);
  background-color: var(--highlight-bg-color);
  cursor: default;
}
.Result-list__item--no-results {
  color: var(--light-default);
  background-color: var(--primary-bg-color-inverse);
  display: flex;
  height: 100%;
  width: calc(100% - var(--secondary-horizontal-gutter));
  align-items: center;
  justify-content: center;
}

