.ResultList--item {
  list-style: none;
  width: 16.666667%;
  height: 100%;
  padding: 0 var(--secondary-horizontal-gutter) 0 0;
}
@media screen and (orientation: portrait) {
  .ResultList--item {
    width: 33.333333%;
    max-height: calc(50% - (var(--secondary-vertical-gutter) / 2));
  }
  .ResultList--item:nth-child(-n + 3) {
    margin-bottom: var(--secondary-vertical-gutter);
  }
}
.ResultList--item--link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: var(--secondary-vertical-gutter) var(--secondary-horizontal-gutter);
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  text-decoration: none;
}
.ResultList--item--img {
  flex: 1;
  min-height: 0;
  object-fit: contain;
  background: var(--primary-bg-color) var(--spinner-b64-url) no-repeat center;
  background-size: 1rem;
}
.ResultList--item--title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.83em;
  line-height: initial;
  margin: var(--secondary-vertical-gutter) 0 0;
}
.ResultList--item--link__selected-item {
  color: var(--highlight-color);
  background-color: var(--highlight-bg-color);
  cursor: default;
}
